.flight-search-container-background {
    background-color: rgb(245, 245, 245);
    padding: 25px 0;
}

.flight-search-container {
    background-color: #fff;
    color: #636363;
    font-size: 13px;
    font-family: Arial;
    width: 930px;
    margin: 0 auto;
}

.flight-search-oneway-radio {
    display: flex;
    justify-content: space-between;
    padding: 25px 25px 25px 0;
}

.flight-search-radio-labels {
    padding: 0 15px 0 6px;
}

.flight-search-form-container {
    padding: 0 25px;
}

.flight-search-form-single-input-grouping {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-right: 28px;
}

.flight-search-form-input-grouping {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 110px;
}

.flight-search-form-single-input-grouping h4 {
    font-family: Arial;
    font-size: 11px;
    padding-bottom: 8px;
    margin: 0;
    text-transform: uppercase;
    color: #636363;
}

.flight-search-form-single-input-grouping select {
    color: #304CB2;
    padding: 0 10px;
    width: 85px;
    border-radius: 0%;
    height: 48px;
    font-size: 32px;
    font-family: Arial;
    font-weight: bold;
    -webkit-appearance: none;
    background-image: url("https://image.flaticon.com/icons/svg/747/747376.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 25%;
    background-position-x: 50px;
}

.flight-search-form-single-input-grouping select option {
    font-family: Arial;
    font-weight: bold;
    text-align: center;
}

.flight-search-form-single-input-grouping input {
    box-shadow: inset 0 2px 0 rgba(0,0,0,0.05);
    color: #304CB2;
    font-family: Arial;
    font-size: 32px;
    font-weight: bold;
    min-height: 48px;
    padding-top: 2px;
    padding-left: 7px;
    border: 1px solid #ccc;
    border-radius: 2px;
    border-top-color: #8F8F8F;
    width: 210px;
}

.flight-search-departure-datepicker {
    color: #304CB2;
    height: 48px;
    width: 300px;
    -webkit-appearance: none;
}

.datepicker {
    width: 300px;
}
.datepicker input {
    width: 270px;
}

.flight-search-submit-button {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0 25px 20px;
    color: red;
}

.flight-search-submit-button input {
    background-color: #FFBF27;
    border: 1px solid #FFBF27;
    border-radius: 2px;
    box-shadow: 0 1px #8F8F8F;
    color: #111B40;
    font-weight: bold;
    font-size: 14px;
    font-family: Arial;
    min-height: 32px;
    width: 86px;
    padding: 0 20px 1px;
}

#flight-search-button-loading {
    display: none;
    // display: flex;
    align-items: center;
    background-color: #e8e9e9;
    width: 86px;
    border-radius: 2px;
    box-shadow: 0 1px #8F8F8F;
    min-height: 32px;
}

#flight-search-button-loading > img {
    padding: 0 20px 1px;
}

.flight-search-weast-message-container {
    display: flex;
    background-color: #e9e9e9;
    padding-left: 25px;
    justify-content: flex-start;
    width: 300px;
    height: 55px;
    position: relative;

}

.flight-search-weast-message-section {
    display: flex;
    align-items: center;
    padding-right: 25px;
}

.flight-search-weast-message-section img{
    height: 35px;
    width: 40px;
    padding-right: 5px;
}

.flight-search-message-slanted-section {
    border-left: 65px solid #e9e9e9;
    border-top: 55px solid transparent;
    bottom: 0;
    content: '';
    height: 0;
    left: 100%;
    position: absolute;
    width: 0;
}

.return-date-disabled {
    background-color: lightgray;
    color: lightgray;
}

.return-date-enabled {
    color: #304CB2;
}

.flight-booking-fluff-photo-container {
    position: relative;
    font: bold 36px Arial;
    padding: 30px 0;
    width: 930px;
    margin: 0 auto;
    color: white;
}

.flight-booking-fluff-photo-container h2{
    position: absolute;
    bottom: 35px;
    left: 150px;
}

.flight-booking-fluff {
    background-color: #f5f5f5;
}

.airport-dropdown {
    display: none;
	position: absolute;
	top: 70px;
	background-color: #fff;
    border: 2px solid lightgray;
    border-radius: 3px;
	padding: 10px;
    width: 210px;
    height: 200px;
    z-index: 1;
    color: darkgrey;
    overflow: auto;
	font-family: Arial;
	text-align: left;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    font-weight: initial;
    transition: width 0.3s ease-out, height 1s ease-out;
    border-color: rgba(82,168,236,0.8);
    animation: airportSlide 0.3s;
}

@keyframes airportSlide {
  from {top: 100px;}
  to {top:70px;}
}

.airport-dropdown-ul {
    color: #304CB2;
    font: bold 24px Arial;
}

.airport-dropdown-ul li{
    border-bottom: 1px solid lightgray;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 40px;
}

.airport-arrival-dropdown {
    display: none;
	position: absolute;
	top: 70px;
	background-color: #fff;
    border: 2px solid lightgray;
    border-radius: 3px;
	padding: 10px;
    width: 210px;
    height: 200px;
    z-index: 1;
    color: darkgrey;
    overflow: auto;
	font-family: Arial;
	text-align: left;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    font-weight: initial;
    transition: width 0.3s ease-out, height 1s ease-out;
    border-color: rgba(82,168,236,0.8);
    animation: airportSlide 0.3s;
}

@keyframes airportSlide {
  from {top: 100px;}
  to {top:70px;}
}

.airport-arrival-dropdown-ul {
    color: #304CB2;
    font: bold 24px Arial;
}

.airport-arrival-dropdown-ul li{
    border-bottom: 1px solid lightgray;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 40px;
    text-align: center;
}