// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
    font-family: Arial;
}

.signup {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: Arial;
    width: 930px;
}

.signup h1 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 10px;
}

.signup p {
    font-size: 11px;
    font-family: Verdana, Tahoma, sans-serif;
    padding-bottom: 10px;
}

.forms-container {
    font-family: Arial;
    padding-bottom: 0;
    margin-top: 30px;
}

.personal-info {
    border: 30px solid #f5f5f5;
    border-bottom: 0;
    padding: 25px;
    padding-bottom: 0;
    background-color: white;
}

form section.personal-info:nth-child(3) {
    border: 30px solid #f5f5f5;
}

.personal-info-name-input {
    display: flex;
    flex-direction: row;
    
}

.forms-container input {
    border: 1px solid #E6E7E8;
}

.first-name {
    display: flex;
    flex-direction: column;
    width: 221px;
    margin: 0;
    text-transform: uppercase;
    font-size: 11px;
    margin-bottom: 25px;
}

.email-container > .first-name {
    padding-bottom: 25px;
    margin-bottom: 0;
}

.first-name input {
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 2px;
    border-top-color: #8f8f8f;
    box-shadow: inset 0 2px 0 rgba(0,0,0,0.05);
    min-height: 32px;
    padding: 2px 3px 2px 8px;
}

.first-name label h6 {
    margin-bottom: 9px;
    font-weight: bold;
    font-size: 11px;
    color: #666;
}

.required-marker {
    color: #d5152e;
}

.personal-info-header h4 {
    line-height: 13px;
    margin: 2px 0 13px;
    font-size: 13px;
    font-weight: normal;
}

.personal-info-header h2 {
    color: #111b40;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 11px;
}

.controls select{
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    margin-right: 5px;
    padding: 4px 30px 4px 6px;
    font-weight: 400;
    font-size: 11px;
}

.email-container {
    border-top: 1px solid #e6e7e8;
    margin-bottom: 25;
}

.birthdate-container > .first-name {
    padding-bottom: 20px;
    margin-bottom: 0;
}

.create-account-button {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.create-account-button > input {
    font-size: 17px;
    font-weight: bold;
    font-family: Arial;
    color: #111B40;
    border-color: #FAD101 #FAD101 #D2AF01;
    background-color: #FFBF27;
    min-width: 75px;
    min-height: 48px;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    padding: 0 18px;
}

.create-account-disclaimer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 15px 20px 15px 0;
}

.create-account-disclaimer > p {
    color: #636363;
    font-size: 11px;
    width: 245px;
    text-align: end;
    font-family: Arial;
}

.signup-errors {
    color: #d5152e;
    padding-top: 3px;
    text-transform: none;
    font-size: 13px;
    min-height: 18px;
}
