// Place all the styles related to the api/trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tab-container {
    width: 702px;
}

#tab-carousel {
    position: relative;
    top: 0px;
    transition: top 0.4s ease-out;
}

.tab-container-header {
    color: #111b40;
    font-size: 42px;
    padding: 42px 0 30px 30px;
    font-family: Arial;
    font-weight: 700;
    line-height: 1.1;
    width: 100%;
    background-color: white;
}

.tab-divider-section {
    background-color: #e6e7e8;
    height: 55px;
    width: 100%;
}

.tab-divider-section > h1 {
    text-align: center;
    padding-top: 15px;
    font-size: 16px;
}

.tab-divider-section > h1 input {
  border-width: 0 3px 3px 0;
  border-color: #304cb2;
  display: inline-block;
  padding: 3px;
  height: 10px;
}

.tab-divider-section > h1 span {
    padding-right: 10px;
    padding-left: 10px;
    font-family: Arial;
}

.tab-divider-section > h1 > input.disabled {
    border-color: gray;
    cursor: default !important;
}

.tab-divider-section > h1 input.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  padding: 5px;
  cursor: pointer;
}

.tab-divider-section > h1 input.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  padding: 5px;
  cursor: pointer;
}

.tab-trip-index-container {
    overflow: hidden;
    min-height: 427px;
    background-color: white;
}

.tab-trip-index {
    background-color: #e6e7e8;
    display: flex;
    left: 0;
    transition: left 0.4s ease-out;
    animation: carousel-right 0.3s;
    position: relative;
    width: 10000px;
}

.tab-trip-index-past {
    background-color: #e6e7e8;
    display: flex;
    left: 0;
    transition: left 0.4s ease-out;
    animation: carousel-right 0.3s;
    position: relative;
    width: 10000px;
}

.tab-trip-info-index-item {
    display: flex;
    width: 230px;
    flex-direction: column;
    padding: 0 20px;
    align-items: space-between;
    justify-content: space-between;
    height: 100%;
}

.tab-trip-info-index-item-upcoming{
    display: flex;
    width: 347px;
    flex-direction: column;
    padding: 0 20px;
    align-items: space-between;
    justify-content: space-between;
    height: 100%;
}

.tab-trip-li {
    margin: 2px 4px 0 0;
    background-color: white;
    color: #636363;
    height: 425px;
}



.tab-trip-index-dates {
    display: flex;
    font-family: Arial;
}

.tab-trip-index-dates-separator {
    padding: 0 5px;
}

.tab-trip-info-top-line {
    display: flex;
    justify-content: space-between;
    
}

.tab-trip-info-top-line-past {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.tab-trip-index-dates-airplane {
    height: 15px;
    width: 15px;
}

.tap-trip-info-city-container {
    display: flex;
}

.tap-trip-info-city-container h4 {
    color: #304cb2;
    font-size: 30px;
    font-weight: bold;
    margin: 9px 0;
}

.tap-trip-info-city-airplane {
    height: 20px;
    width: 20px;
    margin: 28px 14px 0 14px;
}

.tap-trip-info-confirmation {
    text-align: right;
    margin-bottom: 35px;
    color: #111b40;
    font-size: 13px;
    font-style: italic;
    height: 15px;
    font-weight: normal;
    font-family: Arial;
}

.tap-trip-info-confirmation span{
    font-style: normal;
    font-weight: bold;
}

.tab-pointer {
    left: 190px;
    top: 80px;
    position: relative;
    height: 14px;
    width: 14px;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    transform: rotate(-45deg);
    background-color: #fff;
    z-index: 200;
    transition: top 0.4s ease-out;
}

.tab-pointer-still {
    left: 190px;
    top: 80px;
    position: relative;
    height: 14px;
    width: 14px;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    transform: rotate(-45deg);
    background-color: #fff;
    z-index: 200;
    transition: top 0.4s ease-out;
}

.tab-trip-info-city-name {
    height: 50px;
    color: #304cb2;
    font-size: 42px;
    font-weight: bold;
    font-family: Arial;
}

.tab-trip-upcoming-info {
    padding: 0 5px;
}

.tab-trip-upcoming-info:first-child {
    padding-right: 15px;
    width: 110px;
}

.tab-trip-upcoming-info h4 {
    color: #111b40;
    font-size: 30px;
    font-weight: bold;
}

.tab-trip-upcoming-info h5 {
    margin: 0;
    line-height: 20px;
    font-size: 14px;
    color: #111b40;
    font-family: Arial;
    font-weight: normal;
}

.tab-trip-up-next {
    margin-bottom: 0;
    color: #008020;
    font-size: 12px;
    font-weight: bold;
    margin-top: 22px;
    font-family: Arial;
}