// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    height: 100%;
    width: 100%;
}
.user-info-page {
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    width: 930px;
}

.user-info-header {
    width: 930px;
    margin: 0;
    padding: 0 20px 20px;
    line-height: 1.1;
    font-weight: 700;
}
.user-info-header h4 {
    text-transform: uppercase;
}
.user-info-header h2 {
    font-size: 27px;
}

.user-info-tab-section {
    display: flex;
    height: 600px;
}

.user-info-tab-headers ul {
    width: 228px;
}

.user-info-tab-content {
    width: 710px;
    overflow: hidden;
}

.user-info-tab-headers ul li {
    height: 120px;
    width: 228px;
    padding: 50px 0 50px 30px;
    color: #FFF;
    text-transform: uppercase;
    background-color: #304cb2;
    font-family: Arial;
    cursor: pointer;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.42;
    border-bottom: 1px solid #4468af;
    transition: background-color .3s linear 0s;
}

.user-info-tab-headers ul li:hover {
    background-color: rgb(19, 50, 163);
}

.user-info-tab-headers ul li:focus {
    background-color: #1f3173;
    box-shadow: inset 0 2px 2px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
}

.user-info-tab-headers ul li:first-child {
    cursor: default;
    background-color: #111b40;
    color: #FFF;
    font-size: 22px;
    font-family: Arial;
    text-transform: none;
    padding: 30px;
}

.user-info-tab-headers ul li:last-child:hover {
    background-color: #304cb2;
}

.user-info-tab-headers ul li span {
    color: #ffbf27;
    font-style: italic;
}

