// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-info-page {
    border: 1px solid black;
}

.user-info-tab-section {
    border: 1px solid black;
    display: flex;
}