.footer {
    border-bottom: 1px solid #E6E7E8;
    display: flex;
    justify-content: space-around;
    font-family: Arial;
    background-color: #f5f5f5;
    padding-bottom: 32px;
    margin: 0 auto;
}

.footer h4 {
    color: #636363;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 15px;
}

.footer h2 {
    color: #304CB2;
    font-weight: bold;
    font-size: 30px;
}

.iconLinks {
    display: flex;
    justify-content: space-around;
}

.connect-with-us img {
    height: 35px;
    width: 35px;
}