header {
    font-family: Arial;
    color: #304CB2;
}

li {
    list-style: none;
    font-weight: bold;
    font-size: 12px;

}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin: 0 auto;
    width: 930px;
    margin-bottom: 30px;
}

.navbar-buttons {
    display: flex;
    flex-direction: column;
    // border: 1px solid black;
    justify-content: space-between;
    align-items: flex-end;
}

.navbar > a > h1 {
    width: 280px;
    height: 40px;
    font-size: 35px;
    font-family: Arial;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-top: 100px;
}

.patrick-img {
    display: block;
    height: 40px;
    width: 27px;
    padding-bottom: 4px;
    padding-left: 2px;
    background: transparent;
}


.user-auth-login-button {
    position: relative;
}

.navbar-links {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 230px;
}

.navbar-links li {
    padding-left: 7px;
    padding-right: 7px;
    border-right: 2px solid blue;
}

#navbar-links li:last-child {
    border: none  !important;
    padding-right: 0;
}

.user-auth-logged-out ul li span {
    position: absolute;
}

.user-auth-logged-out {
    display: flex;
    justify-content: flex-end;
}

.user-auth-logged-in {
    display: flex;
    justify-content: flex-end;
}

.user-auth-logged-out li {
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid blue;
    margin-top: 10px;
}

.user-auth-logged-in li {
    margin-top: 10px;
}

.user-auth-logged-out li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.user-auth-logged-in button {
    padding-left: 10px;
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
}

.user-auth-logged-in button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.user-auth-logged-out li span {
    text-decoration: none;
    cursor: default;
}

.user-auth-logged-out li span:active {
    opacity: 1
}

.user-auth-logged-out li:last-child {
    border: none;
    padding-right: 0;
}

.user-auth-logged-in li:last-child {
    border: none;
}

.logged-in-name {
    font-style: italic;
    font-weight: lighter;
    padding: 0;
    padding-right: 8px;
}

.logged-in-points {
    font-weight: lighter;
    padding: 0;
    padding-right: 15px;
}

.logged-in-account-link {
    border-right: 1px solid blue;
    padding: 0;
    padding-right: 10px;
}

.logged-in-account-link:hover {
    text-decoration: underline;
}